
@{
    ViewData["Title"] = "CreatePlayer";
}

<h2>CreatePlayer</h2>

<div class="row">
    <div class="input-field col s12">
        <input id="firstName" type="text" class="validate">
        <label for="firstName">FirstName</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="lastName" type="text" class="validate">
        <label for="lastName">LastName</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="nickName" type="text" class="validate">
        <label for="nickName">NickName</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="age" type="number" class="validate">
        <label for="age">Age</label>
    </div>
</div>
<div>
    <a id="create" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Create Player</a>
</div>