
@{
    ViewData["Title"] = "DeletePlayer";
}

<h2>Delete Player</h2>

<body onload="GetPlayer();return false;">

    <input type="hidden" id="txtEmpid" value="@ViewBag.PlayerId">

    <div id="divResult">

    </div>

    <div>
        <a asp-action="GetAllPlayers">Back to List</a>
    </div>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>

        function GetPlayer() {
            jQuery.support.cors = true;
            var id = $('#txtEmpid').val();
            $.ajax({
                url: 'http://localhost:53766/api/Player/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowPlayer(data.player);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function ShowPlayer(player) {
            if (player != null) {
                var strResult = "<table><th>Id</th><th>FirstName</th><th>LastName</th><th>NickName</th><th>Age</th>";
                strResult += "<tr><td>" + player.id + "</td><td> " + player.firstName + "</td><td>" + player.lastName + "</td><td>" + player.nickName + "</td><td>" + player.age + "</td><td><a onclick=\"DeletePlayer(); return false;\" class=\"waves - effect waves - light btn red\">Delete</a></td></tr>";
                strResult += "</table>";
                $("#divResult").html(strResult);
            }
            else {
                $("#divResult").html("No Results To Display");
            }
        }

        function DeletePlayer() {
            jQuery.support.cors = true;
            var id = $('#txtEmpid').val();

            $.ajax({
                url: 'http://localhost:53766/api/Player/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data);
                    window.location.href = 'GetAllPlayers/';
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

    </script>
</body>
