@{
    ViewData["Title"] = "DetailsPlayer";
}

<h2>Details Player</h2>

<body onload="GetPlayer();return false;">
    <input type="hidden" id="txtEmpid" value="@ViewBag.PlayerId">

    <div id="divResult">

    </div>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>

        function GetPlayer() {
            jQuery.support.cors = true;
            var id = $('#txtEmpid').val();
            $.ajax({
                url: 'http://localhost:53766/api/Player/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowPlayer(data.player);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function ShowPlayer(player) {
            if (player != null) {
                var strResult = "<table><th>Id</th><th>FirstName</th><th>LastName</th><th>NickName</th><th>Age</th><th>Sex</th>";
                strResult += "<tr><td>" + player.id + "</td><td> " + player.firstName + "</td><td>" + player.lastName + "</td><td>" + player.nickName + "</td><td>" + player.age + "</td><td>" + player.sex + "</td></tr>";
                strResult += "</table>";
                $("#divResult").html(strResult);
            }
            else {
                $("#divResult").html("No Results To Display");
            }
        }

    </script>
</body>
