
@{
    ViewData["Title"] = "MainWindow";
}

<h2>MainWindow</h2>

<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="~/images/image1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="~/images/image2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="~/images/image3.jpg"></a>
</div>

<script type="text/javascript">

    $('.carousel.carousel-slider').carousel({
        fullWidth: true
    });

</script>